<% if @year.errors.any? %>
<div class="container" style="border: 2px solid black; margin-bottom: 20px;">
  <h2 style="color: red;">Los siguientes errores no permiten que la acción se realice correctamente:</h2>
<% @year.errors.messages.each do |err| %>
  
  <p>El campo <%= err[0]%> 
  <% err[1].each do |e|%>
  <%= e %>,
  <% end -%>
  </p>
<% end -%>
  </div>

<% end -%>

<div class="row">
                            <div class="col-md-12 ">
                                <!-- BEGIN VALIDATION STATES-->
                                <div class="box-shadow portlet light portlet-fit portlet-form bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class=" icon-layers font-red"></i>
                                            <span class="caption-subject font-red sbold uppercase">Carrera: <%= @year.program%>, Año: <%= @year.value %>, Semestre: <%= @year.semester %></span>
                                        </div>
                                       
                                    </div>
                                    <div class="portlet-body">
                                        <!-- BEGIN FORM-->
                                        <%= form_for( :year, local: true, url: { action: :update}) do |form| %>
                                            <div class="form-body">
                                                
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                     <%= form.number_field :max_optatives, id: :optative_max_optatives, class: "form-control" %>
                                                    <label for="form_control_1">Cantidad de Optativos Máxima</label>
                                                    <span class="help-block">Entero representando cantidad de horas</span>
                                                </div>
                                                
                                                
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <%= form.submit 'Actualizar', class: "btn btn-success" %>
                                                        <button type="reset" class="btn default">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end -%>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                                <!-- END VALIDATION STATES-->
                            </div>
                        </div>


<% content_for :styles do %>
        <link href="/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<% end -%>

<% content_for :scripts do %>
        <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/assets/pages/scripts/form-validation-md.min.js" type="text/javascript"></script>
<% end -%>