<%= form_with(model: optative, local: true) do |form| %>
  <% if optative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(optative.errors.count, "error") %> prohibited this optative from being saved:</h2>

      <ul>
      <% optative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :optative_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :optative_description %>
  </div>

  <div class="field">
    <%= form.label :professor %>
    <%= form.text_field :professor, id: :optative_professor %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, id: :optative_duration %>
  </div>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.text_area :schedule, id: :optative_schedule %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :optative_year %>
  </div>

  <div class="field">
    <%= form.label :program %>
    <%= form.text_field :program, id: :optative_program %>
  </div>

  <div class="field">
    <%= form.label :enrollment %>
    <%= form.number_field :enrollment, id: :optative_enrollment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
