<% if @optative.errors.any? %>
<div class="container" style="border: 2px solid black; margin-bottom: 20px;">
  <h2 style="color: red;">Los siguientes errores no permiten que la acción se realice correctamente:</h2>
<% @optative.errors.messages.each do |err| %>
  
  <p>El campo <%= err[0]%> 
  <% err[1].each do |e|%>
  <%= e %>,
  <% end -%>
  </p>
<% end -%>
  </div>

<% end -%>

 <div class="row">
                            <div class="col-md-12 ">
                                <!-- BEGIN VALIDATION STATES-->
                                <div class="box-shadow portlet light portlet-fit portlet-form bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class=" icon-layers font-red"></i>
                                            <span class="caption-subject font-red sbold uppercase">Rellene los campos del formulario</span>
                                        </div>
                                       
                                    </div>
                                    <div class="portlet-body">
                                        <!-- BEGIN FORM-->
                                        <%= form_with(model: optative, local: true) do |form| %>
                                            <div class="form-body">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    <%= form.text_field :title, id: :optative_title, class: "form-control" %>
                                                    <label for="form_control_1">Nombre</label>
                                                </div>
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    <%= form.text_area :description, id: :optative_description, class: "form-control" %>
                                                    
                                                    <label for="form_control_1">Descripción</label>
                                                    <span class="help-block">Este es el campo que los estudiantes leen para saber de que va el optativo</span>
                                                </div>
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                     <%= form.text_field :professor, id: :optative_professor, class: "form-control" %>
                                                    <label for="form_control_1">Profesor</label>
                                                </div>
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                     <%= form.number_field :duration, id: :optative_duration, class: "form-control" %>
                                                    <label for="form_control_1">Duración</label>
                                                    <span class="help-block">Entero representando cantidad de horas</span>
                                                </div>
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                            <%= form.text_field :schedule, id: :optative_schedule, class: "form-control" %>
                                                            <label for="form_control_1">Horario</label>

                                                       <span class="help-block">Ej: 9:00 am a 1:00 pm</span>
                                                </div>
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    
                                                    <%= form.number_field :year, id: :optative_year, class: "form-control" %>
                                                    <label for="form_control_1">Año</label>
                                                    <span class="help-block">Año para el que está destinado</span>
                                                </div>
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                   <select name="optative[program]" id="multiple1" class="form-control select2">
                                                                <option value="computacion">Computación</option>
                                                                <option value="matematica">Matemática</option>
                                                                
                                                            </select>
                                                    
                                                    <label for="form_control_1">Carrera</label>
                                                    <span class="help-block"></span>
                                                </div>
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    <div class="input-group">
                                                        <%= form.number_field :enrollment, id: :optative_enrollment, class: "form-control" %>
                                                        
                                                        <label for="form_control_1">Matrícula</label>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <%= form.submit param, class: "btn btn-success" %>
                                                        <button type="reset" class="btn default">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end -%>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                                <!-- END VALIDATION STATES-->
                            </div>
                        </div>

<% content_for :styles do %>
        <link href="/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<% end -%>

<% content_for :scripts do %>
        <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/assets/pages/scripts/form-validation-md.min.js" type="text/javascript"></script>
<% end -%>

<!-- 

<%= form_with(model: optative, local: true) do |form| %>
  <% if optative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(optative.errors.count, "error") %> prohibited this optative from being saved:</h2>

      <ul>
      <% optative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :optative_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :optative_description %>
  </div>

  <div class="field">
    <%= form.label :professor %>
    <%= form.text_field :professor, id: :optative_professor %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, id: :optative_duration %>
  </div>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.text_area :schedule, id: :optative_schedule %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :optative_year %>
  </div>

  <div class="field">
    <%= form.label :program %>
    <%= form.text_field :program, id: :optative_program %>
  </div>

  <div class="field">
    <%= form.label :enrollment %>
    <%= form.number_field :enrollment, id: :optative_enrollment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
 -->