<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      
      <h2><%= @optative.title %></h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8">
      
      <h3><%= @optative.description %></h3>
    </div>
  </div>
</div>
  

<p>
  <strong>Professor:</strong>
  <%= @optative.professor %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @optative.duration %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @optative.schedule %>
</p>

<p>
  <strong>Year:</strong>
  <%= @optative.year %>
</p>

<p>
  <strong>Program:</strong>
  <%= @optative.program %>
</p>

<p>
  <strong>Enrollment:</strong>
  <%= @optative.enrollment %>
</p>

